html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #4d2323;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav {
  border: 1px;
  background-color: rgb(255, 123, 0);
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-item a:hover {
  color: blue;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  transition: .3s;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
}

@media (max-width: 768px) {     
  .section {
    width: 100%;
  }
}

.section-item {
  color: #04470b;
  text-decoration: none;
  transition: color 0.5s;
}

.section-item a:hover {
  color: #4d2323 ;
}
  
.link {
  text-decoration: none;
  color: #8e97f0;
  transition: color 0.5s;
}

.link:hover {
  color: #1a1d1a;
}

.info {
  color: rgb(10, 126, 155);
}


.footer {
  
}

